.container {
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  font-size: 1rem;
  flex-grow: 1;
  margin-top: 0.4rem;
}

.no-result {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 1rem;
  font-style: italic;
}
.mat-row {
  outline: 0.2rem solid transparent;
}

.mat-row:hover {
  outline-color: rgba(180, 180, 180, 0.6);
}

.mat-cell {
  justify-content: space-between;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
  flex: 0 0 4rem;
}

.mat-cell:nth-child(6),
.mat-header-cell:nth-child(6) {
  flex: 0 0 6rem;
}

.title-center {
  margin: 0 auto;
}
