.card {
  height: 100%;
  width: 100%;
  display: grid;
  gap: 1rem;
}
.info {
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  align-items: bottom;
}
.mock {
  align-items: center;
}
mat-card-actions {
  grid-column: 1 / span 2;
  justify-self: end;
  align-self: end;
}
mat-card-content {
  margin: 0;
  display: grid;
  align-items: center;
}
mat-card-title {
  margin: 0;
}
mat-icon {
  font-size: 4rem;
  width: auto;
  height: auto;
}
